
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Push The Button</h1>

</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-info"></i> About</h2>
      <p>Find out more about this project and the team behind it.</p>
      <p><a class="btn btn-default" href="https://hack.opendata.ch/project/130">Project website &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> Challenge</h2>
      <p>Learn about our challenge to apply groundbreaking new technology for low-power communications.</p>
      <p><a href="https://hack.opendata.ch/project/126" class="btn btn-default">Open Networking Infrastructure &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Source</h2>
      <p>Ask a question or contribute to the project in our source code repository.</p>
      <p><a href="https://github.com/loleg/pushthebutton-server/issues" class="btn btn-default">Visit GitHub &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
